{{ define "alarms"}}
{{ $days := .Days }}
{{ range .Alarms}}
{{ $alarm := .}}
<article class="message">
    <div class="message-header">
        <h4 class="title is-4" style="color: #fff;"><a href="/alarms/edit/{{.ID}}">{{ .Name }}</a></h3>
    </div>
    <div class="message-body">

        <table class="table" style="background-color: transparent;">
        <tr>
        {{ if  $alarm.Enabled }}
            <td rowspan="5" style="width: 96px; border: none; vertical-align: middle; -8px;">
                <span class="material-icons" style="font-size: 64px; line-height: 100%; color: #4a942b;"><a style="text-decoration: none;" href="/alarms/{{$alarm.ID}}/deactivate">alarm</a></span>
            </td>
            {{ else }}
            <td rowspan="5" style="width: 96px; border: none; vertical-align: middle; -8px;">
                <span class="material-icons" style="font-size: 64px; line-height: 100%; color: #d25050;"><a style="text-decoration: none;" href="/alarms/{{$alarm.ID}}/activate">alarm_off</a></span>
            </td>
            {{ end }}
        </tr>
            <tr>
                <td><strong>active days</strong></td>
                <td>
                    {{ range $k, $v := $days}}
                    {{ if IsActiveDay $v $alarm }}
                    <div class="overview-day-box day-box day-box-active" style="float: left; ">{{ Cut $v.String 2 }}
                    </div>
                    {{ else }}
                    <div class="overview-day-box day-box" style="float: left; ">{{ Cut $v.String 2 }}</div>
                    {{ end }}
                    {{ end }}
                </td>
            </tr>
            <tr>
                <td><strong>time until</strong></td>
                <td>
                    {{ .DurationUntilNextTrigger | formatDurationWithDays}}
                </td>
            </tr>
            <tr>
                <td><strong>playlist</strong></td>
                <td>
                    {{ .Playlist}}
                </td>
            </tr>
            <tr>
            <td rowspan="2"><a href="/alarms/{{$alarm.ID}}/edit">edit</a></td>
            </tr>
        </table>
    </div>
</article>
{{ end }}

{{ end }}
