<h1 class="title">All Alarms</h1>
<section class="section">
{{ range . }}
{{ if .Enabled }}
	<div class="box has-background-success">
	<div class="is-pulled-right">
	<a class="button" href="/alarms/{{ .Id }}"><i class="fas fa-edit"></i></a>
	</div>
		<p class="title"><i class="fas fa-bell"></i> {{ .Name }}</p>
		<div class="content">
			<p>
				<li><i class="fas fa-stopwatch"></i> {{ .TimeTillNextWake }}</li>
				<li><i class="fas fa-clock"></i> {{ .WakeHour }}:{{ .WakeMinute }}</li>
				<li><i class="far fa-calendar"></i> 
			{{ range .Days }}
				{{ . }}
			{{ end }}
			</li>
			</p>
		</div>
</div>
{{ else }}
	<div class="box has-background-danger">
	<div class="is-pulled-right">
	<a class="button" href="/alarms/{{ .Id }}"><i class="fas fa-edit"></i></a>
	</div>
		<p class="title"><i class="fas fa-bell"></i> {{ .Name }}</p>
		<div class="content">
			Scheduled for {{ .WakeHour }}:{{ .WakeMinute}} on
			{{ range .Days }}
				{{ . }}
			{{ end }}
			<p>
				<b>This alarm is currently disabled.</b>
			</p>
		</div>
	</div>
{{ end }}
{{ end }}

<div class="tile is-parent">
	<div class="box">
		<h1 class="title">Need more?</h1>
		<a href="/alarms/new" class="button is-success is-large">New Alarm</a>
	</div>
</div>

</div>
