<h1 class="title">New Alarm</h1>
<form method="post" action="/alarms/create">
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" name="alarm_name" type="text">
  </div>
</div>

<label class="label">Wake Time</label>
<p>this is 24h format, no a.m. or p.m.</p>
<div class="field has-addons">
	<div class="control">
		<input class="input" type="text" name="alarm_wakehour"> 
		</div>
		:
	<div class="control">
		<input class="input" type="text" name="alarm_wakeminute" >
	</div>
</div>


<div class="field">
  <label class="label">Days</label>
<p>select the weekdays you want this alarm to ring, eh?</p>
  <div class="control">
{{ range .AlarmDays }}
<label class="checkbox">
<input type="checkbox" name="alarm_wakedays" value="{{ .Id }}" />
{{ .Readable }}
</label>
{{ end }}
  </div>
</div>


<label class="label">Warmup Time</label>
<p>This is the time you'll get to hopefully and slowly wake up when not in a REM phase. The alarm actually starts at wake time minus warmup time (e.g. wakeup time is 30 minutes, alarm time is 7:30am, then the alarm starts at 7:00am). The volume of the music is gradually raised and will reach its peak at the wake time (you can change the volume settings in the settings menu). </p>
<div class="field has-addons">
	<div class="control">
		<input class="input" type="text" name="alarm_waketime" > 
		</div>
</div>

<label class="label">Playlist</label>
<p>This is the playlist that is either played in order or shuffled (you see that checkbox? yeah, it switches whether the order is shuffled or not - btw. the shuffling is seeded with the timestamp when the alarm is started, so it's unlikely that the order is repeated each day - <i>i'm looking at you, winamp</i></p>
<div class="field">
<div class="select">
<select name="alarm_playlist">
{{ range .Playlists }}
<option value="{{.Id}}">{{.Name}}</option>
{{ end }}
</select>
</div>
<div class="control">
<label>
	<input type="checkbox" name="shuffle_playlist">
	Shuffle Playlist
</label>
</div>
</div>

<div class="field">
	<div class="control">
		<hr />
		<input type="submit" class="button is-success" value="Save" />
  </div>
</div>

</form>
