<h1 class="title">All Playlists</h1>
<table class="table is-striped playlist-table">
<thead>
<th style="width: 80%;">Name</th>
<th style="width: 10%;"># Songs</th>
<th style="width: 5%;">Status</th>
<th style="width: 5%;">Actions</th>
</thead>
<tbody>
{{ range . }}
<tr>
<td><a href="/playlists/{{.Id}}">{{ .Name }}</a></td>
<td>{{ .Length }}</td>
{{ if eq .Length 0 }}
<td><i class="fas fa-question has-text-info"></i></td>
{{ else }}
{{ if .HasErrors }}
<td><i class="fas fa-exclamation-triangle has-text-danger"></i></td>
{{ else }}
<td><i class="fas fa-thumbs-up has-text-success"></i></td>
{{ end }}
<td><a href="/playlists/{{.Id}}/delete"><i class="fas fa-trash has-text-danger"></i></a></td>
</tr>
{{ end }}
{{ end }}
</tbody>
</table>
<a class="button is-success" href="/playlists/new"><i class="fas fa-plus"> </i> New Playlist</a>
