<h1 class="title">Create New Playlist</h1>

<form method="post" action="/playlists/create">
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" name="playlist_name" type="text">
  </div>
</div>
<div>
	<h2>here we will show the contents of the media library, yeah?</h2>
</div>
</form>
