<a href="/playlists"><i class="fas fa-angle-left"></i> Back</a>
<h1 class="title">{{ .Playlist.Name }}<h1>
<form action="/playlists/{{.Playlist.Id}}/deletesongs" method="post">
<table class="table is-striped playlist-table">
<thead>
<th>Name</th>
</thead>
<tbody>
{{ range .Songs }}
<tr>
<td>
<label class="checkbox">
	<input type="checkbox" class="sleepi-list-cb" name="songs" value="{{.FullPath}}" />
	{{ if .Status }}
			<span><i>{{ .Path }}</i>/<b>{{ .Name }}</b></span>
	{{ else }}
			<span class="has-text-danger"><i>{{ .Path }}</i>/{{ .Name }} <i class="fas fa-exclamation-circle has-text-danger" ></i></span>
	{{ end}}
	</label>
</td>
</tr>
{{ end }}
</tbody>
</table>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-danger">Remove selected</button>
  </div>
<div class="control">
<a class="button is-info" href="#">Add New Songs</a>
</div>
</div>
</form>
