{{ define "player_footer"}}
<footer id="player" class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
    </p>
  </div>
</footer>
{{ end }}