<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="./static/css/bulma.min.css">
  </head>
  <body>
	<div class="columns is-centered">
		<div class="column is-half">
			<h1 class="title">sleepi v0.1</h1>
			<h2 class="subtitle"><i>congratulations</i>, you're a beta tester</h2>
		</div>
	</div>
	<div class="columns">
		<div class="column is-2">
			<aside class="menu">
				<p class="menu-label">
						<span class="icon"><i class="fas fa-lg fa-home"></i></span><span>General</span>
				</p>
				<ul class="menu-list">
					<li><a>Dashboard / Home</a></li>
					<li><a>SmoothSleeper</a></li>
					<li><a>About sleepi</a></li>
					<li><a>Settings</a></li>
				</ul>
				<p class="menu-label">
						<span class="icon"><i class="fas fa-lg fa-clock"></i></span><span>Alarms</span>
				</p>
				<ul class="menu-list">
					<li><a>Overview</a></li>
					<li><a>New Alarm</a></li>
				</ul>
				<p class="menu-label">
						<span class="icon"><i class="fas fa-lg fa-list"></i></span><span>Playlists</span>
				</p>
				<ul class="menu-list">
					<li><a>Overview</a></li>
					<li><a>Create Playlist</a></li>
				</ul>
				<p class="menu-label">
						<span class="icon"><i class="fas fa-lg fa-music"></i></span><span>Library</span>
				</p>
				<ul class="menu-list">
					<li><a>All Media</a></li>
					<li><a>Upload</a></li>
				</ul>
				<p class="menu-label">
					<span class="icon"><i class="fab fa-lg fa-youtube"></i></span><span>YouTube</span>
				</p>
				<ul class="menu-list">
					<li><a>Search</a></li>
					<li><a>Downloads</a></li>
				</ul>
			</aside>
		</div>
		<div class="column is-10">
			Second column
		</div>
	</div>
  </body>

    <script defer src="./static/js/all.min.js"></script>
</html>
