.audiofile-box {
    clear: both;
    height: 48px;
    padding: 1em;
    padding-left: .5em;
}

.audiofile-box div {
    float: left;
}

.audiofile-title {
    font-weight: 600;
}

.audiofile-icon img {
    width: 32px;
    line-height: 32px;
    margin-top: -8px;
}

.player-button {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}

.library-buttons {
    float: right;
    background-color: aqua;
}

.builder-song {
    padding: 8px 4px;
    line-height: 32px;
}

.builder-song:hover {
    background-color: #cccccc37;
    cursor: pointer;
}

.playlist-remove {
    display: none;
}

.playlist-remove img {
    width: 24px;
    margin-bottom: -6px;
    float: right;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.day-checkbox-box {
    display: none;
}

.checkbox {
    display: block;
    float: left;
    width: 48px;
    padding: 0;
    margin: 0;
    line-height: 48px;
    text-align: center;
}

.day-picker .day-box:first {
    border-radius: 15px;
}

.day-box {
    background-color: #e8e8e8;
}

:checked+.day-box {
    background-color: #bbd7b1;
}

.div-disabled {
    opacity: .2;
}

#volume-warmup input:disabled {
    background-color: #fff;
    border-color: #b5bbbf;
    border-radius: 0;
    color: #7f888f !important;
}

#volume-warmup input:disabled::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #7f888f !important;
}

#volume-warmup input:disabled:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #7f888f !important;
}

#volume-warmup input:disabled::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #7f888f !important;
}

#volume-warmup input:disabled:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #7f888f !important;
}

.overview-day-box {
    padding: 8px;
}

.day-box-active {
    background-color: #bbd7b1;
}

.material-icons a {
    text-decoration: none;
}