<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

				<section class="section" style="padding-top: 0;">
					<div class="container">
						<section class="hero is-dark">
							<div class="hero-body">
								<div class="container">
									<h1 class="title">
										GoPi Alarm Clock
									</h1>
									<h2 class="subtitle">
										Administration Center \o\
									</h2>
								</div>
							</div>
						</section>

						<div class="columns">
							<div class="column is-one-quarter">
								<aside class="menu">
									<ul class="menu-list">
										<li><a href="/playlist/">Playlists</a></li>
										<li><a href="/alarm/">Alarms</a></li>
										<li><a href="/youtube/">YouTube</a></li>
										<li><a>Help</a></li>
										<li><a>About</a></li>
										<li><a>Logs</a></li>
									</ul>
								</aside>
							</div>
							<div class="column">
								{{ yield }}
							</div>
						</div>
					</div>
				</section>
    </body>
</html>
