<h1 class="title is-1">YouTube Downloads</h1>
<div class="field">
	<form action="./search" method="post">
	<label class="label">Search Term</label>
<input class="input is-large" type="text" placeholder="Term" id="term" name="term">
<input type="submit" class="button">Search</a>
	</form>
</div>
