<p class="notification" style="background-color: #3498db;"><strong>Alarms</strong></p>
<div class="field">
  <label class="label">Playlist</label>
	<p class="control">
	<span class="select">
		<select>
</div>
{{range .}}
	<div>
		<option>{{.playlist}}</option>
	</div>
{{end}}
		</select>
	</span>
	</p>
	<div class="field">

  <label class="label">Weekdays</label>
  <p class="control">
    <label class="checkbox">
      <input type="checkbox">
      Monday
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Tuesday
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Wednesday
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Thursday
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Friday
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Saturday
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Sunday
    </label>
  </p>
</div>
<
